<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-primary">Try it</button>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="925" height="530" src="https://www.youtube.com/embed/{{course.videoId}}?list=PL_-VfJajZj0VatBpaXkEHK_UPHL7dW6I3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>        
    </div>
</div>